<!DOCTYPE html>
<html>

<head>
	<title>Chat con NodeJS, Express, Socket.IO y jQuery</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
	<div class="container">
		<div class="row">
			<div id="formModal" class="modal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h2 class="title-modal"></h2>
						</div>
						<div class="modal-body">
							<p class="formModal"></p>
						</div>
						<div class="modal-footer">
						</div>
					</div>
				</div>
			</div>
			<div id="title" class="well">
				<h2>Bienvenido al chat</h2>
			</div>
			<div id="containerMessages" class="col-md-9">
				<div class="panel panel-primary head">
					<div class="panel-heading">
						<p>Mensajes de la sala</p>
					</div>
				</div>
				<div id="chatMsgs">
				</div>
			</div>
			<div id="containerUsers" class="col-md-3">
				<div class="panel panel-primary head">
					<div class="panel-heading">
						<p>Usuarios</p>
					</div>
				</div>
				<div id="chatUsers">
				</div>
			</div>
			<div id="containerSendMessages" class="col-md-7">
				<input type="text" placeholder="Escribe un mensaje" class="message col-md-12 form-control">
			</div>
			<div id="containerSendMessages" class="col-md-2">
                <button class="btn btn-large btn-block btn-primary sendMsg">Enviar mensaje</button>
            </div>
		</div>
	</div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script
		type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
        </script>
    <script type="text/javascript" src="/javascripts/functions.js"></script>
        
    </body>

</html>